<ion-header [translucent]="true">
    <ion-toolbar color="secondary ion-text-center">
        <ion-title class="principal">
            Lista de Tarefas
        </ion-title>
    </ion-toolbar>
    <ion-text *ngIf="adicionado === true" color="success">
        <h5 class="alert">Tarefa adicionada!</h5>
    </ion-text>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-card>
                        <ion-card-content>
                            <h1>Adicione uma nova tarefa:</h1>
                            <ion-list>
                                <ion-item>
                                    <ion-label>Nome da tarefa: </ion-label>
                                    <ion-input type="text" [(ngModel)]="tarefa.nome" required=true></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Responsavél:</ion-label>
                                    <ion-input type="text" [(ngModel)]="tarefa.responsavel" required=true></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Data de conclusão:</ion-label>
                                    <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selecione a data" [(ngModel)]="tarefa.data" required=true>
                                    </ion-datetime>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Prioridade: </ion-label>
                                    <ion-select placeholder="Prioridade" class="custom-options" [(ngModel)]="tarefa.tipo">
                                        <ion-select-option *ngFor="let tipo of tipos" [value]="tipo" required=true>{{tipo}}</ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Descrição: </ion-label>
                                    <ion-input type="text" [(ngModel)]="tarefa.descricao" required=true></ion-input>
                                </ion-item>
                            </ion-list>
                            <div class="btn_acoes">
                                <ion-button fill="solid" color="danger" (click)="limpar()">
                                    <ion-icon name="close-circle-outline"></ion-icon>
                                </ion-button>
                                <ion-button fill="solid" color="primary" (click)="adicionar()">
                                    <ion-icon name="add-circle-outline"></ion-icon>
                                </ion-button>

                            </div>
                        </ion-card-content>

                    </ion-card>
                    <ion-button fill="outline" color="secondary" [routerLink]="['/exibe-tarefas']" routerLinkActive="router-link-active">
                        <ion-icon name="arrow-undo-outline"></ion-icon> Tarefas cadastradas
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>